#REQUIRED
API_HASH=
BOT_TOKEN=
TELEGRAM_API=
OWNER=
OWNER_USERNAME=your_telegram_username
PASSWORD=your_secure_password_here

DATABASE_URL=
GOFILE_TOKEN=
LOGCHANNEL=-100xxxxxxxxxxxxx
MAX_CONCURRENT_USERS=5
MAX_FILE_SIZE=2147483648
USER_SESSION_STRING=

